
@{
    ViewData["Title"] = "GoodBye";
}

<h1 style="background-color:purple;color:white;font-weight:600;text-align:center">GoodBye!!!!</h1>
<h1 style="background-color:purple;color:white;font-weight:600;text-align:center">Thanks for trying!!!!</h1>

