@{
    ViewBag.Title = "TripListReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 id="ReportTitle">Thanks for your Order! </h2>

<div>
    <h4 id="recipentDetails"></h4>
    <table id="tableReceipt" class="w3-table w3-striped w3-bordered w3-border w3-hoverable">
        <thead id="itemThead">

        </thead>
        <tbody id="itemTbody"></tbody>
    </table>
</div>