
@{
    ViewData["Title"] = "MainExpenditurePanel";
}
<p>
    <a class="btn btn-primary" asp-action="MainFinancePanel" asp-controller="Config">Main Finance Window</a>
</p>
<h1 class="jumbotron" style="text-align:center;background-color:steelblue;color:white">Main Expenditure Panel</h1>
<div style="text-align:center;">
    <a class="btn btn-primary" asp-action="Index" asp-controller="Expenditures">Load All Expenditure</a>
    <a class="btn btn-primary" asp-action="Create" asp-controller="Expenditures">Add New</a>
    <a class="btn btn-primary" asp-action="" asp-controller="">Add Expense Item</a>
    <a class="btn btn-primary" asp-action="" asp-controller="">Reporting</a>
</div>
@*<p>
    <a asp-action="Index" asp-controller="Home">Main Management Page</a>
</p>*@
