
@*@{
    ViewData["Title"] = "MainBatchesPanel";
}

<h1>MainBatchesPanel</h1>*@


@{
    ViewData["Title"] = "MainBatchesPanel";
}

<h1 class="jumbotron" style="text-align:center;background-color:steelblue;color:white">Main Batches Panel</h1>
<div style="text-align:center;">
    <a class="btn btn-primary" asp-action="Index" asp-controller="Batches">Show All Batches</a>
    <a class="btn btn-primary" asp-action="Create" asp-controller="Batches">Add New Batch</a>
    @*<a class="btn btn-success" asp-action="" asp-controller="">Add Recipient</a>*@
    @*<a class="btn btn-success" asp-action="" asp-controller="">Reporting</a>*@
</div>
@*<p>
        <a asp-action="Index" asp-controller="Home">Main Management Page</a>
    </p>*@

