
@{
    ViewData["Title"] = "MainLicensePanel";
}

<h1 class="jumbotron" style="text-align:center;background-color:darkslategrey;color:white">Main License Panel</h1>
<div style="text-align:center;">
    <a class="btn btn-success" asp-action="Index" asp-controller="Licenses">Load All Licenses</a>
    <a class="btn btn-success" asp-action="Create" asp-controller="Licenses">Add New</a>
    <a class="btn btn-success" asp-action="" asp-controller="">Add Licenses</a>
    @*<a class="btn btn-success" asp-action="" asp-controller="">Reporting</a>*@
</div>